@font-face {
    font-family: "Dancing Script";
    src: url("../fonts/DancingScript-Regular.ttf")
}

@font-face {
    font-family: "Alegraya";
    src: url("../fonts/Alegreya-Regular.ttf")
}



body {
    background-color: #dff2e4;
}

header {
    padding: 5vh 4vw 0 4vw;
    display: flex;
    justify-content: space-between;
    width: 80vw;
    background-color: #cedbd9;
    margin: auto;
}

.keywords {
    padding: 2vw;
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

}

img {
    width: 17vw;
    padding: 0 0 2vh 2vw;
    border-bottom: solid 1vh #6d88ad;

}

main {
    padding: 5vh 7vw 0 4vw;
    display: flex;
    width: 80vw;
    padding-top: 3vh;
    margin: auto;
    background-color: #cedbd9;
}

.important {
    width: 60vw;
    padding-left: 3vw;
}



.liste-1 {
    margin: 2vh 0 2vh 0;
    padding: 2vh 0 2vh 3vw;
    border-left: 0.5rem solid black;
    border-radius: 0.8rem;
    list-style-type: initial;
}

.konexio {
    text-decoration: none;
    color: black;
}

.liste-2 {
    list-style-type: initial;
    margin: 2vh 0 4vh 0;
    padding: 2vh 0 2vh 3vw;
    border-left: 0.5rem solid black;
    border-radius: 0.8rem;
}

.container {
    display: flex;
    width: 50vw;
    padding-bottom: 2vh;
}

.date {
    width: 15vw;
}


.liste-3 {
    padding: 2vh 0 3vh 3vw;
    list-style-type: initial;
}

.adresse {
    padding-top: 2vh;
    color: #6d88ad;
}

.coordinate {
    list-style-type: none;
}

.coordinate a {
    text-decoration: none;
    color: #6d88ad;

}