* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #dff2e4;
}

header {
    padding: 5vh 3vw 0 4vw;
    display: flex;
    justify-content: space-between;
    width: 80vw;
    background-color: #cdf7d9;
    margin: auto;
}

.keywords {
    padding: 2vw;
    width: 60vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

}

img {
    width: 17vw;
    padding: 0 0 2vh 2vw;
    border-bottom: solid 1vh#7f8f83;

}

main {
    display: flex;
    width: 80vw;
    padding-top: 3vh;
    margin: auto;
    background-color: #cdf7d9;
}

.important {
    /* background-color: green; */
    width: 60vw;
}

.sidebar {
    background-color: yellow;
    width: 20vw;
}

.liste-1 {
    margin: 2vh 0 2vh 0;
    padding: 2vh 0 2vh 3vw;
    border-left: 0.5rem solid black;
    border-radius: 1rem;
}

.liste-2 {
    margin: 2vh 0 4vh 0;
    padding: 2vh 0 2vh 3vw;
    border-left: 0.5rem solid black;
    border-radius: 1rem;
}

.container {
    display: flex;
    width: 50vw;
    padding-bottom: 2vh;
    /* background-color: tomato; */

}

.date {
    /* background-color: yellow; */
    width: 15vw;
}